#fullChat{
  border: solid 1px black;
}

#messageList{
  left:-3%;
  position: relative;
  width:99.9%;
}

#messageInput{
  border:solid 1px black;
}

.userSender{
  list-style: none;
  position: relative;
  background-color: lightblue;
  border-radius: 1px;
  text-align:right;
  padding-right: 5px;
}

.yodaSender{
  list-style: none;
  position: relative;
  background-color: lightgreen;
  border-radius: 1px;
  padding-left: 5px;
}

.yodaSenderList{
  /*list-style: none;*/
  position: relative;
  background-color: lightgreen;
  border-radius: 1px
}
